body{
    user-select: none;
    text-align: center;
    margin: 0;
    height: 100vh;
}
h1{
    font-size: 60px;
}
button{
    font-size: 40px;
    text-align: center;
    margin-right: 15px;
}
#palabra{
    letter-spacing: 20px;
    font-size: 90px;
    text-align: center;
    /* margin-top: 2px; */
}
#lienzo{
    border: 2px solid;
    height: 500px;
    width: 700px;
    /* padding-bottom: 100px; */
    margin-bottom: 100px;
}
line{
    stroke: black;
    stroke-width: 6px;
}
circle{
    fill: white;
    stroke-width: 4px;
    stroke: black;
}
.hidden{
    display: none;
}