@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.options {
    display: flex;
    align-items: center;
    padding: 6px;
}

a {
    text-decoration: none;
    margin: 0px 5px 0px 15px;
    padding: 5px;
    color: #202124;
    font: 14px arial, sans-serif;
}
a:hover{
    text-decoration:underline;
}

.app-google {
    display: inline-block;
    flex-grow: 1;
}

.apps {
    display: flex;
    justify-content: end;
    align-items: center;
}

.login {
    background: #1a73e8;
    color: #fff;
    padding: 9px 23px;
    border-radius: 4px;
    min-width: 100px;
    text-align: center;
    text-decoration: none !important;
}
.login:hover{
    background: #034cac;
}

.img-google {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: 188px;
    justify-content: end;
}

#app {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    text-align: center;
}

p {
    margin: 0;
    font-family: 'Roboto';
}

.search {
    position: relative;
    margin: 35px 0 18px;
    text-align: center;
}

.search input {
    height: 44px;
    width: 582px;
    outline: none;
    font-size: 16px;
    border-radius: 24px;
    padding: 0 42px;
    border: 1px solid rgba(173, 172, 172, 0.616);
}

.search input:hover {
    box-shadow:0.1em 0.1em 0.3em rgba(37, 37, 37, 0.3);;
}
span{
display: flex;
flex-direction: column;
}