body {
    background: url('https://images7.alphacoders.com/369/369182.jpg') center no-repeat;
    

    height: 100vh;
    margin: 0;

    overflow-y: hidden;
}

.tablero {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50rem;
    margin-top: 90px;
}

.container {
    padding-top: 40px;
    height: 45rem;
    width: 60%;

    box-shadow: -1px 0px 19px 5px rgba(0, 0, 0, 0.733) inset;
    border: 15px solid #3a2b19;
    border-radius: 105px;
    

    background: linear-gradient(50deg, rgb(6, 49, 28) 0%, rgba(9, 121, 45, 1) 48%, rgb(11, 66, 34) 97%)center no-repeat;

    text-align: center;
}

.fichas button{
    background: url(cards/ficha.png) center no-repeat;
    background-size: 90px 60px;
    cursor: pointer;

    width: 100px;
    height: 60px;
    margin-bottom: 22px;
    border: none;

    color: white;
    font-weight: bolder;
    /* fon */
}

.container p {
    margin: 8px 0px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    user-select: none;

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-evenly;
}

.result {
    text-align: center;
    height: 70px;
}

.botones {
    width: 100%;
    display: flex;
    justify-content: center;
}

.botones button {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin: 20px;

    background: url('https://thumb.photo-ac.com/0c/0c43c904fdae646062481f77db53af41_w.jpeg') center;
    background-size: 95px 50px;
    cursor: pointer;
    opacity: 0.9;

    position: relative;
}

button:hover {
    bottom: 5px;
}

#resultado {
    color: blue;
}

#ganador {
    color: red;
}

.botones button span {
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 2px -2px rgb(255, 63, 63);
    background-color: rgba(0, 0, 0, 0.459);
}

img {
    height: 100px;
    width: 55px;
    margin: 10px;
}